* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: none !important;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

input {
  background-color: white;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  box-sizing: border-box;
  padding: 1vh 2vh;
}
