.Proposals {
  margin-top: 3vh;
  width: 60%;

  h2 {
    box-sizing: border-box;
    padding: 1vh 5vh;
  }
}

.Proposal {
  align-items: flex-start;
  background-color: white;
  color: black;
  box-sizing: border-box;
  display: flex;
  margin-top: 1vh;
  padding: 3vh 5vh;
  width: 100%;

  .info {
    box-sizing: border-box;
    width: 70%;

    .proposalState {
      font-size: 1.8vh;
      margin-top: 1.8vh;

      .state {
        border-color: rgb(54, 172, 54);
        border-radius: 1vh;
        border-style: solid;
        border-width: 2px;
        color: rgb(54, 172, 54);
        margin-right: 1vw;
        padding: 0.5vh 2vh;
      }
    }
  }

  .status {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 1.8vh;
    width: 30%;

    .percent {
      display: flex;
      justify-content: space-between;
      margin-top: 1.6vh;

      width: 90%;
    }

    .percentBar {
      border-width: 1px;
      border-radius: 1vh;
      height: 0.5vh;
      display: flex;
      overflow: hidden;
      margin-top: 0.6vh;
      width: 90%;

      .for {
        background-color: rgb(54, 172, 54);
        height: 100%;
      }

      .against {
        background-color: #aaa;
        height: 100%;
      }
    }

    .votesIn {
      margin-top: 0.8vh;
    }
  }
}

.Proposal:hover {
  background-color: #eee;
  border-left-style: solid;
  border-color: rgb(54, 172, 54);
  cursor: pointer;
}

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;

  width: 100%;
  z-index: 6;

  .proposalVote {
    align-items: center;
    background-color: white;
    background-color: #eee;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    width: 30vw;
    position: relative;

    .close {
      background-color: none;
      border-style: none;
      color: red;
      cursor: pointer;
      font-size: 3vh;
      right: 20px;
      top: 10px;
      position: absolute;
    }

    input {
      margin-top: 3vh;
      width: 90%;
    }

    .black {
      background-color: black;
      color: white;
    }

    .submit {
      background-color: white;
      border-color: rgb(54, 172, 54);
      border-radius: 5px;
      border-style: solid;
      color: rgb(54, 172, 54);
      cursor: pointer;
      margin-top: 3vh;
      padding: 1vh;
      width: 90%;
    }
  }
}

.tint {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
